<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}">

    <title>Customers</title>
</head>
<body>
    <div class="container">
        <h2>List of all customers</h2>
        <table class="table table-striped"
            th:if="${not #lists.isEmpty(customers)}">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.addressLineOne}"></td>
                <td th:text="${customer.addressLineTwo}"></td>
                <td th:text="${customer.city}"></td>
                <td th:text="${customer.state}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td><a th:href="${'/customer/edit/' + customer.id}">Edit</a></td>
                <td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>
            </tr>
        </table>
        <a th:href="@{/customer/new}">Add a customer</a>
    </div>
</body>
</html>